[submodule "GoknarEngine"]
	path = GoknarEngine
	url = https://github.com/emrebarisc/GoknarEngine
[submodule "Thirdparty/Imgui/Repo"]
	path = Thirdparty/Imgui/Repo
	url = https://github.com/ocornut/imgui
